.body{
  position: relative;
}
.animline{
  top: 100px;
    left: 700px;
    width: 700px;
    height: 100px;
  position: relative;
}
.line {
/*   fill: rgba(218,170, 127,0.5); */
  fill: none;
  top: 75%;
 
  stroke: rgba(98, 165, 180, .75);
  stroke-width: 3px;
  stroke-dasharray: 1687;
  stroke-dashoffset:1687;
  animation: line 4s 1s infinite;
}

@keyframes line {
  100% { 
  stroke-dashoffset:0;}
  0% { 
    stroke-dashoffset:1687; }
}

