/*Global*/

title {
 font-family: 'Philosopher', sans-serif;
}

html, body, footer {
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
/******GALLERY********/
.gallery {
height: 400px;
}

/******HEADER*******/

.toprectangle {
   background: rgba(216,210,183, .1);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    position: relative;
}


nav {
    top:0;
    right:50px;
    padding:4px;
    vertical-align: middle;
    position: fixed;
    z-index: 1;
   }

header {
  width: 100%;
    height: 70%;
}
/******NAVIGATION*******/

a:link, a{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 100;
    color:rgb(4, 52, 97);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding:0 1px;
    text-align: right;
    
}
a:hover{
color: rgb(51, 110, 151);
  }
a:focus {
color: rgb(220, 163, 115);
}
a:active {
color: rgb(220, 163, 115);
}
nav ul li {
   display: inline;
}
/******IMAGE*******/


/******LAYOUT*******/
.container {
    width: 85%;
    margin: auto;
   background: rgba(216,210,183, .1);
    
    }

.contact {
    margin: auto;
    border: 2px; 
    text-align: left;
}
.education{
    width:360px;
    float: left;
    padding-left: 20px;
    }
.job {
    padding-left: 400px;
}

/*
.ps, .ai, .id, .word, .excel, .pp, .lr, .br {
    border-bottom-style: double;
    border-left-style: double;
    border-color: rgb(174, 225, 239);
    padding: 0 0 0 3px;
}
*/
div .hr {
    width: 90%;
    height: .2em;
    margin: 0 0 0 3em;
    border-style: noshade;
    background: rgb(98, 165, 180);
    color: rgb(98, 165, 180);
   
}

/******BODY*******/

.home-bg {
    background: url(../img/lines.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about-bg {
    background: rgb(227,208,180);
}
.resume-bg {
    background: url("../img/resumeimg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.portfolio-bg {
    background: rgb(227,208,180);
}

/******LINKS*******/

.email {
    width: 30px;
    right: 475px;
    top: 160px;
    position: absolute;
}

.phone {
     top: 160px;
    width: 30px;
    right: 425px;
    position: absolute;
}
.number{
    top: 148px;  
    right:310px;
    position: absolute;
}
.fb {
    width: 30px;
    right: 260px;
    top: 160px;
    position: absolute;
}

.codepen {
    width: 30px;
    right: 210px;
    top: 160px;
    position: absolute;
}

.github {
    width: 30px;
    right: 160px;
    top: 160px;
    position: absolute;
}




/******TYPOGRAPHY*******/

h1 {
    color: rgb(53, 130, 159);
    font-size: 4em;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: .05em;
    position: fixed;
    top: -30px;
     z-index: 1;
    }

.titles {  
    font-family: 'Montserrat', sans-serif;
    color: rgb(101, 167, 187);
    font-size:28px;
    font-weight: lighter;
    padding-left: 5px;
    padding-top: 10px;
    }
h3 {
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 1.5em;
   font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type:square;
}
.ba {
color:rgb(98, 165, 180);
}

.space {
    word-spacing: 30px;
    padding-left: 100px;
    font-weight: 100;
    border-top:rgb(174, 225, 239) double;
}
.designer {
    font-family: 'Philosopher', sans-serif;
    font-size: 3em;
    letter-spacing: 10px;
    text-align: right;
    border: 0;
    z-index: 1;
    font-weight: bold;
    top: 90px;
}

.homeh1 {
    color: rgb(150, 124,92);
    position: absolute;
    top: 560px;
    left: 200px;
}
.resumeh1 {
    
}
footer {
font-family: 'Overlock', cursive; 
}
/*************SOFTWARES HOVER **********/

.ps:hover {
    background: rgb(174, 225, 239);
    width: 90%;
    display: block;
}
.ai:hover {
    background: rgb(174, 225, 239);
    width: 90%;
    display: block;
}
.id:hover {
    background: rgb(174, 225, 239);
    width: 70%;
    display: block;
}
.br:hover {
    background: rgb(174, 225, 239);
    width: 85%;
    display: block;
}
.lr:hover {
    background: rgb(174, 225, 239);
    width: 66%;
    display: block;
}
.word:hover {
    background: rgb(174, 225, 239);
    width: 80%;
    display: block;
}
.pp:hover {
    background: rgb(174, 225, 239);
    width: 80%;
    display: block;
}
.excel:hover {
    background: rgb(174, 225, 239);
    width: 50%;
    display: block;
}

/******FOOTER*******/

#footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 40px;
    left: 75%;
    font-weight: bold;
}
.copyright {
    max-height:15px;
    max-width: 15px;
    left: 20px;
    
}

