
h1 {
    color: rgba(0,0,0,.5);
}
    
h1 { color: hotpink;
    text-transform: uppercase;
    letter-spacing: 6px;
}

img {
    opacity: .5;
     width: 50%;
}

body {
    background: url(../img/background.png);
}