/*Global*/

title {
font-family: 'Overlock', cursive; 
}
body {
position: relative;
    width: 100%;
}




/******HEADER*******/
#wrapper {
background: url(../img/background.JPG);
background-size: 100%;
    background-repeat: no-repeat;
position: absolute;
min-width:100%;

min-height:100%;
z-index:1;
}

nav {
    background: rgba(255,255,255,.7);
    width: 100%;
    position: fixed;
    top: 0;
}
/******NAVIGATION*******/
ul {
   
}
nav {

    padding:1px;
    vertical-align: middle;
    float: left;
    position: fixed;
    top:-0px;
     z-index: 1;
  }
a:link, a{
    font-family: 'Overlock', cursive; 
    font-weight: 600;
    color:rgb(4, 52, 97);
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    padding:0 1px;
}
a:hover{
color: rgb(51, 110, 151);
  }
a:focus {
color: rgb(220, 163, 115);
}
a:active {
color: rgb(220, 163, 115);
}
li {
   display: inline;
text-align: content;
}
/******IMAGE*******/

.leaf {
    opacity: .9;
     width: 100%;
    height: 100%
}
/******LAYOUT*******/


/******BODY*******/


/******TYPOGRAPHY*******/

h1 {
    color: rgb(53, 130, 159);
    font-size: 70px;
 font-family: satisfy;
    letter-spacing: .05em;
    padding-left: 100px;
}


footer {
font-family: 'Overlock', cursive; 
}

/******FOOTER*******/

#footer {
position: absolute;
    bottom:0;
    width: 100%;
    height: 40px;
    left: 80%;
}


