/* jQuery Gridly
 * Copyright 2015 Kevin Sylvestre
 * 1.2.9
 */
.gridly, .gridly > :not(.dragging) {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.gridly .dragging {
  z-index: 1500; }

 .gridly {
    position: relative;
    width: 2000px;
   overflow: auto; 
   margin-left: auto;
   margin-right: auto;
  }
  .brick.small {
    width: 400px;
    height: 400px;
  }
 .brick.xsmall {
    width: 400px;
    height: 250px;
  }
.brick.medium {
    width: 620px;
    height: 700px;
  }
  .brick.large {
    width: 600px;
    height: 150px;
  }

.squarebg {
  border: 2px solid rgb(101, 167, 187);;
}



footer {
  position: absolute;
  bottom: 0;
  left: 0; 
}
